<div class="row">
  <div class="col-lg-12">
    <h2>Поиск по товарам, брэндам и продуктам</h2>
  </div>
  <form>
    <div class="col-lg-11">
      <div class="form-group">
        <input type="text" name="q" placeholder="BMW 2" class="form-control" />
      </div>
    </div>
    <div class="col-lg-1">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Везде <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Авто</a></li>
          <li><a href="#">Недвижимость</a></li>
          <li><a href="#">Техника</a></li>
          <li><a href="#">Услуги</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12 text-center form-group">
      <button class="btn btn-success">Искать</button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-lg-8">
    <h3>Категории и подкатегории</h3>
  </div>
  <div class="col-lg-4">
    <h3>Колонка всяких вкусностей</h3>
  </div>
</div>