select {
  &#search_category {
    background: url(asset-path("theme/dropdown_arrow.png")) no-repeat 95% center;
    background-size: 10px 5px;
    border: 0 !important;
    font-weight: 400;
    height: 100%;
    padding: 10px 22px 10px 4px;
    width: 160px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.account-sidebar {
  .col-sm-3 {
    text-align: center;
  }
}