<% if model.errors.any? %>
  <div id="error_explanation">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= pluralize(model.errors.count, 'error') %> prohibited this <%= model.class.to_s.downcase %> from being saved
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
