<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <p><strong>&copy; Wenternet - open source software 2015</strong></p>
      </div>
      <div class="col-sm-8 col-xs-12">
        <p class="footer-links">
          <a href="/" class="active">Home</a>
          <a href="#">Contact Us</a>
        </p>
      </div>
    </div>
  </div>
</footer>
