<div class="row">
  <div class="col-lg-9">
    <%= render 'item_list' %>
  </div>
  <div class="col-lg-3">
    <ul>
      <% @category.subcategories.each do |subcategory| %>
        <li><%= subcategory.name %></li>
      <% end %>
    </ul>
  </div>
</div>
