<%= render "jumbotron_search" %>

<div class="container">
  <%= render "breadcrump" %>

  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div class="sidebar">
        <div class="panel panel-default">
          <div class="panel-heading">Список категорий</div>
          <ul class="list-group">
            <% @categories.each do |category| %>
              <li class="list-group-item"><%= link_to category.name, category_path(
                                                                       city: @city,
                                                                       category: category) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9 pull-right listings">
      <%= render "item_list" %>
    </div>
  </div>
</div>