<%= render "jumbotron_search" %>

<div class="container">
  <%= render "breadcrump" %>

  <div class="row">
    <div class="col-sm-12 pull-right listings">
      <%= render "item_list" %>
    </div>
  </div>
</div>